extend default_layout

block content
  h1 Meatspacer Artists
  .artist-wrapper
    p Credits for all the art used in the background

    ul
      li
        a(href='http://twitter.com/itscolombo', class='artist') ITPbro
        a(href='http://www.flickr.com/photos/michaelcolombo/10365435515/in/set-72157636725370336') Nov. 17, 2013
      li
        a(href='https://twitter.com/jennschiffer', class='artist') JennBro
        a(href='https://twitter.com/jennschiffer/status/402255178851577856') Nov. 17-18, 2013
      li
        a(href='https://twitter.com/ednapiranha', class='artist') CreatorBro
        a(href='http://ednapiranha.tumblr.com/post/1373642836/job-interview') Nov. 19, 2013
      li
        a(href='https://twitter.com/brycebaril', class='artist') BryceBro
        a(href='https://twitter.com/jedgar/status/402691014617731072') Nov. 19-20, 2013
      li
        a(href='https://twitter.com/julian_duque', class='artist') PrayingMantisBro
        a(href-'https://www.dropbox.com/s/ch57pq8w5ghegyi/download.gif') Nov. 21, 2013
