extend default_layout

block content
  h1 Weekly Artists
  .artist-wrapper
    p Credits for all the art used in the background

    ul
      li
        a(href='http://twitter.com/itscolombo', class='artist') ITPbro
        a(href='http://www.flickr.com/photos/michaelcolombo/10365435515/in/set-72157636725370336') Nov. 17, 2013
