extend default_layout

block content
  h1 Meatspacer Artists
  .artist-wrapper
    p Credits for all the art used in the background

    ul
      li
        a(href='http://twitter.com/itscolombo', class='artist') ITPbro
        a(href='http://www.flickr.com/photos/michaelcolombo/10365435515/in/set-72157636725370336') Nov. 17, 2013
      li
        a(href='https://twitter.com/jennschiffer', class='artist') JennBro
        a(href='https://twitter.com/jennschiffer/status/402255178851577856') Nov. 17-18, 2013
      li
        a(href='https://twitter.com/ednapiranha', class='artist') CreatorBro
        a(href='http://eye.meatspac.es/post/42') Nov. 18, 2013
