!!! 5
html
  head
    title Meatspace chat: your 2 seconds of fame.
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/main.css')
    if analytics
      != '<script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "' + analytics + '", "' + analyticsHost + '");ga("send", "pageview");</script>'

  body
    #wrapper
      .infobox
        .infobox-wrapper
          h1 Welcome to Meatspace Chat!

          p Here are some links to help you around this crazy place:

          h2 For the Hackers
          ul
            li
              p Sending a fix to the repo? (No new features please)
              p
                a(href='http://github.com/meatspaces/meatspace-chat') Github Repository
            li
              p New features/ideas/hacks that use the web version of the chat?
              p
                a(href='http://github.com/meatspaces/meatspace-chat-hackers') Add it here!
            li
              p Want to do a third-party client/bot/whatever using the API?
              p If granted, you'll be given an apiKey and instructions on what to do. Then you will first be given access on the staging server.
              p
                a(href='https://github.com/meatspaces/meatspace-chat#native-apps-iosandroid') More info here

          h2 For the Consumers
          ul
            li
              a(href='http://www.zazzle.com/meatspaceshop') Meatspace Shop

          h2 For the Credits
          ul
            li
              a(href='https://twitter.com/ednapiranha') Creatorbro
            li
              a(href='https://github.com/meatspaces/meatspace-chat/graphs/contributors') Contributorbros

