extend default_layout

block content
  .infobox
    .item
      h1 Welcome to Meatspace Chat!

      ul
        li
          a(href='http://digitalocean.com', class='do medium') Powered by Digital Ocean! THEY ARE THE BEST.

    .item
      h2 For the Contributors
      ul
        li
          p Sending a fix to the repo? (No new features please)
          p
            a(href='http://github.com/meatspaces/meatspace-chat') Github Repository

    .item
      h2 For the Hackers
      ul
        li
          p New features/ideas/hacks that use the web version of the chat?
          p
            a(href='http://github.com/meatspaces/meatspace-chat-hackers') Add it here!

    .item
      h2 For the API Developers
      ul
        li
          p Want to do a third-party client/bot/whatever using the API?
          p
            a(href='https://github.com/meatspaces/meatspace-chat#native-apps-iosandroid-or-non-web-clients') More info here
    .item
      h2 For the Consumers
      ul
        li
          a(href='http://www.zazzle.com/meatspaceshop', class='big') Meatspace Shop

    .item
      h2 For the Credits
      ul
        li
          a(href='https://twitter.com/ednapiranha', class='big') Creatorbro
        li
          a(href='https://github.com/meatspaces/meatspace-chat/graphs/contributors', class='medium') Contributorbros
        li
          a(href='/art', class='medium') Weekly artists
