extend default_layout

block content
  .terms
    h1 Terms and Conditions

    p meatspace collective. (herein referred to as "meatspace") agrees to provide services to the Subscriber, subject to the following Terms of Service. Use of meatspace's service constitutes acceptance and agreement to meatspace's Terms of Use.

    p meatspace collective reserves the right to modify the Terms of Use without notice.

    h2 Acceptable Use Policy
    p Lawful use of the Application
    p In using the Application, Users will comply with, and refrain from violations of, all applicable provisions of the United States Code, the Code of Federal Regulations, and the New York Revised Statutes, including but not limited to those statutes forbidding: (a) distribution of child pornography, (b) forgery, identity theft, misdirection or interference with electronic communications, (c) invasion of privacy, (d) violations of the CANSPAM Act, (e) collection of excessive user data from children, or other improper data collection activities, (f) securities violations, wire fraud, money laundering, or terrorist activities, or (f) false advertising, propagating or profiting from frauds and unfair schemes. Users will also comply with the affirmative requirements of law governing Network use, including but not limited to: (a) disclosure requirements, including those regarding notification of security breaches, (b) records maintenance for regulated industries, and (c) financial institution safeguards.

    h2 Content
    p meatspace consist of features that allow users to create, post, transmit and/or store content, including but not limited to photos, videos, text, graphics, items or other materials (collectively, "Content”).You understand that your User Content may be viewable by others and that you have the ability to control who can access such content. You agree that you are solely responsible for your Content and that meatspace is not responsible or liable for any Content. You retain ownership in your Content. meatspace has a ZERO tolerance policy on any content that is considered objectionable, including but not limited to nudity, sexuality, vulgar or illegal content.

    h2 Injurious Code
    p Users may not use the application to distribute, receive communications or data gleaned from, or execute any action directed by any type of injurious code, including but not limited to: (a) trojans, (b) key loggers, (c) viruses, (d) malware, (e) botnets, (f) denial of service attacks, (g) flood or mail bombs, (h) logic bombs, or (i) other actions which meatspace reserves the sole right to determine to be malicious in intent.

    h2 Restrictions
    p You agree that you will NOT use meatspace's services to: violate any applicable state and federal law and regulation, including, but not limited to, any copyright, trademark, patent, anti-piracy, or other intellectual property law or regulation, or encourage or enable others to violate any such law or regulation. Transmit, distribute, post, store, link, or otherwise traffic in information, software, or materials that is offensive, abusive, inappropriate, malicious, or detrimental, including, but not limited to, those that: Are obscene, fraudulent, or discriminatory. meatspace permits adult websites that abide by state and federal law and regulation.

    h2 Invasion of Privacy, Defamation, or Harassment
    p Users may not use Network resources in a manner that would violate the lawful privacy rights of any person, or to publish or republish defamatory statements, or to harass and embarrass.

    h2 Violation of Copyright, Trademark, Patent or Trade Secret
    p Users may not use Network resources in violation of the copyrights, trademarks, patents or trade secrets of third parties, nor shall they utilize the Network to publish such materials in a manner that would expose them to public view in violation of the restrictions of law. The provisions of the DMCA will apply to issues presented by allegations of copyright violations by third parties. meatspace will, in appropriate circumstances, terminate the accounts of repeat infringers.

    h2 Acts of Sub-Users
    p Users are responsible for the acts of others utilizing their meatspace access, and will be held responsible for violations of this AUP by their sub-users or persons who gain access to the meatspace using the User's footprints.


    h2 Service Suspension or Termination
    p meatspace community may suspend or mute any account without refund by a User that violates the provisions of this AUP, as meatspace may deem appropriate to the circumstances of the violation. meatspace will provide prior notice of the intent to suspend or terminate service if the provision of notice will not, in meatspace's judgment, run counter to the purposes of the AUP.


    h2 Disclaimers and Waiver of Liability
    p meatspace DISCLAIMS ALL WARRANTIES, EXPRESS, IMPLIED, OR STATUTORY, REGARDING THE SERVICES PROVIDED HEREUNDER, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT. NO REPRESENTATION OR OTHER AFFIRMATION OF FACT REGARDING HARDWARE, SOFTWARE, OR SERVICES, NOR THE STATEMENT OR CONDUCT OF ANY AGENT OF meatspace, SHALL BE DEEMED A WARRANTY FOR ANY PURPOSE OR GIVE RISE TO ANY LIABILITY WHATSOEVER. USER ACKNOWLEDGES THAT HE OR SHE HAS RELIED ON NO WARRANTIES OR STATEMENTS OTHER THAN AS MAY BE SET FORTH HEREIN. USER HEREBY WAIVES ANY AND ALL CLAIMS AGAINST meatspace ARISING OUT OF USER'S PURCHASE OR USE OF THE SOFTWARE, OR ANY CONDUCT OF meatspace'S OFFICERS, EMPLOYEES, OR AGENTS. meatspace SHALL NOT, UNDER ANY CIRCUMSTANCES, BE LIABLE TO USER OR ANY THIRD PARTY IN ANY AMOUNT, OR FOR ANY INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL OR CONSEQUENTIAL DAMAGES, UNDER ANY CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, LOST PROFITS, REVENUE OR SAVINGS, LOSS OF GOODWILL, OR THE LOSS OF USE OF ANY DATA, EVEN IF meatspace HAD BEEN ADVISED OF, KNEW, OR SHOULD HAVE KNOWN, OF THE POSSIBILITY THEREOF. NO DISCLOSURE BY meatspace'S OFFICERS, EMPLOYEES, OR AGENTS, SHALL BE MADE A CAUSE OF LIABILITY. UNDER NO CIRCUMSTANCES SHALL meatspaceS AGGREGATE CUMULATIVE LIABILITY HEREUNDER, WHETHER IN CONTRACT, TORT, UNDER STATUTE, OR OTHERWISE, EXCEED THE AMOUNT OF ONE (1) MONTH OF SERVICE PROVIDED PURSUANT TO THIS AGREEMENT. USER ACKNOWLEDGES THAT THE FEES PAID BY HIM OR HER REFLECT THE ALLOCATION OF RISK SET FORTH IN THIS AGREEMENT AND THAT meatspace WOULD NOT ENTER INTO THIS AGREEMENT WITHOUT THESE LIMITATIONS.

    h2 Indemnification
    p User shall defend, indemnify and hold harmless meatspace users, creators, hackers from any and all claims or causes of action arising out of User's misuse of meatspace Services.

    h2 Contact
    p meatspace provides the following measures for contacting us regarding any issues related to this Privacy Policy:

    p Email: john@digitalocean.com
    p Address:
    p John Edgar Attn: meatspace
    p 270 Lafayette St, Suite #1105
    p NY, NY 10012

    h2 Change
    p This Policy is subject to occasional revision, and if any substantial changes are made to the way your Personal Data is used, we will notify you by email to the email address that you have provided as being the most current posting the notice of such changes on our website. Any changes to the Policy will be effective upon the earlier of either thirty (30) calendar days from the dispatch of the email notice to you or thirty (30) calendar days following our posting of the update terms on our website, or the date on which you accept the terms by clicking "I Accept" or similar means. These changes will be effective immediately for any new users and customers of our website and related products and services. Please note that you are responsible at all times for updating your Personal Data and with providing us with your most recent and current email address. In the event that the email address is no longer valid the date at which the proposed changes were dispatched will still constitute effective notice of any changes to the Privacy Policy. If you do not wish to permit changes in our use of your Personal Data you must notify us prior to the effective date of the changes and that you wish to deactivate your account. Continued use of our website, products, and or related services, following notice of any such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes.
