.artist-wrapper {
    font-size: 1.2rem;
    padding: 20px;
}

.artist-wrapper a {
    color: #f65694;
    display: inline-block;
    text-decoration: none;
}

.artist-wrapper a.artist {
    font-size: 1.8rem;
    margin-right: 15px;
}
