/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #ccc;
    background-image: linear-gradient(30deg, #aaa 12%, transparent 12.5%, transparent 87%, #aaa 87.5%, #aaa),
    linear-gradient(150deg, #aaa 12%, transparent 12.5%, transparent 87%, #aaa 87.5%, #aaa),
    linear-gradient(30deg, #aaa 12%, transparent 12.5%, transparent 87%, #aaa 87.5%, #aaa),
    linear-gradient(150deg, #aaa 12%, transparent 12.5%, transparent 87%, #aaa 87.5%, #aaa),
    linear-gradient(60deg, #888 25%, transparent 25.5%, transparent 75%, #888 75%, #888),
    linear-gradient(60deg, #888 25%, transparent 25.5%, transparent 75%, #888 75%, #888);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    min-height: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'latin_modern_mono10_regular';
    src: url('../fonts/lmmono10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    position: relative;
}

body > img {
    display: none;
}

.header {
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 5px;
    display: block;
    font-size: 0.9rem;
    padding: 0 0 5px 5px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.header li {
    clear: both;
    float: left;
    padding: 2px;
    position: relative;
    width: 120px;
}

.header a, .header span {
    color: #333;
    display: block;
    outline: none;
    padding: 2px 5px;
    text-decoration: none;
}

.header span {
    color: #666;
}

.header a {
    font-size: 17px;
    font-weight: 600;
}

#wrapper {
    font-family: 'latin_modern_mono10_regular', sans-serif;
    margin: 0 auto;
    padding: 3px;
    position: relative;
}

#logo {
    display: block;
    float: right;
    position: relative;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-indent: -9999px;
}

#logo::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;

    height: 35px;
    width: 35px;
    line-height: 35px;
    padding: 2px 5px;

    background-image: url('../images/meatspace.svg');
    background-repeat: no-repeat;

    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

#logo:hover {
    font-size: 20px;
    text-indent: -75px;
}

#logo:hover::after {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

h1 {
    font-size: 3rem;
    padding: 20px;
}

.input {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #eee;
    color: #164352;
    font-family: 'latin_modern_mono10_regular', sans-serif;
    font-size: 1.1rem;
    margin-left: 10px;
    outline: none;
    padding: 5px;
    width: 75%;
    height: 1.5rem;
    resize: none;
}

.chats {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 78px;
}

.chats li {
    border-top: 1px solid rgba(255, 255, 255, 0.085);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.85);
    clear: both;
    float: left;
    margin-bottom: 1px;
    height: 185px;
    width: 100%;
    overflow-y: auto;
    position: relative;
    white-space: pre-wrap;
}

.chats li.unrender * {
    display: none;
}

.chats li:nth-child(odd) {
    background-color: rgba(225, 225, 225, 0.85);
}

.chats li img {
    border-radius: 5px;
    display: block;
    float: left;
    min-width: 128px;
    min-height: 96px;
    width: 20%;
}

.chats li p {
    color: #777;
    float: left;
    font-size: 1.7rem;
    line-height: 1.9rem;
    min-width: 182px;
    overflow: hidden;
    padding: 5px 10px;
    text-shadow: #f1f1f1 -1px 1px 0;
    width: 60%;
}

.chats li .mute {
    background-color: #ccc !important;
    bottom: 0;
    border: 0;
    border-bottom-right-radius: 5px;
    display: block;
    font-size: 0.9rem;
    padding: 3px 5px;
    position: absolute;
    right: 0;
}

.chats li p span {
    color: #70b4e4;
    font-size: 0.8rem;
}

.chats li p a {
    color: #34a4b8;
    text-decoration: none;
}

.chats li p a:hover {
    background-color: #fff;
}

ul li.on {
    background-color: #adf6ff;
}

.hidden {
    display: none;
}

.message-content {
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}

#add-chat-form {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#add-chat-blocker {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    color: #111;
    font-size: 2rem;
    height: 55px;
    left: 0;
    line-height: 2rem;
    position: absolute;
    right: 0;
    text-align: center;
}

#footer {
    font-family: 'latin_modern_mono10_regular', sans-serif;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

#footer video {
    float: left;
}

.end {
    float: left;
    height: 20px;
    position: relative;
    width: 1px;
}

.chats li img.emojify {
    width: 50px;
    color: transparent;
    min-width: 0;
}

@media only screen and (max-width: 480px) {
    .header li {
      width: auto;
    }

    .header li:nth-child(2) {
      display: none;
    }

    #logo:hover {
      text-indent: -9999px;
    }

    .input {
        width: 57%;
    }

    .chats li p {
        font-size: 1.3rem;
        line-height: 1.3rem;
        min-width: 0;
        width: auto;
        float: none;
    }

    #add-chat-blocker {
        font-size: 1.5rem;
        left: -150px;
        line-height: 3.6rem;
    }
}

@media only screen and (max-width: 320px) {
    .chats li p {
        font-size: 1.2rem;
        line-height: 1.2rem;
        min-width: 0;
        width: auto;
        float: none;
    }

    .input {
        width: 155px;
    }
}

/* breakpoint depends on .chats li max-height */
@media only screen and (min-width: 1225px) {
    .chats li img {
        width: 245px;
    }
}
